html, body, .container, .background {
    background-color: #04293A;
}

.container {
    margin: 0;
}

/* headings */
 .heading {
	 width: 100%;
	 font-size: 2rem;

	 line-height: 2;
	 padding-bottom: 0;
	 margin: 3rem 0 3rem auto;
}

.my-top-header {
    background-color: #04293A;
    padding: 20px 0 0;
    margin: 0;
}

.big-heading {
letter-spacing: 0.1ch;
    font-size: 10rem;
    color: #778f97;
    font-style: bold;
    text-align: center;
    justify-content: center;
    margin:0;
}

.minor_page_heading, .page_text, hr {
    color: #778f97;
}

.user_feedback_full {
    text-align: center;
    padding: 50px;
    margin: 0;
}

/* buttons */
.btn {
    background-color: #ECB365;
    color: c;
}

.btn:hover, .btn:disabled{
    background-color: #064663;
}

.modal-btn{
    background-color: #064663;
    color: #fff;
    margin: 2rem 0;
    padding: 2rem;
}

.modal-btn:hover, .modal-btn:disabled{
    background-color: #ECB365;
}

/* delete movie jar button */
.delete-button {
    color: #064663;
    font-size: 4rem;
    margin: 3rem;
}

.delete-button:hover {
    color: #ECB365;
}


/* navbar */
.my_navbar {
    background-color: #041C32;
    margin: 0;
    padding: 10px;
}


/* card display text */
.card-buttons {
    position: absolute;
    right: 20px;
    top: 20px;
}

.rating_display {
    color: #ECB365;
}

.title {
	 font-weight: bold;
	 font-size: 2rem;
}
.run_time {
    font-size:1rem;
}

.icon-button {
    color: #77867F;
    margin: 3px;
}

.icon-button:hover {
    color: #001F2F;
}

 p.overview {
	 font-size: 12px;
	 height: 80px;
	 width: 100%;
	 overflow: hidden;
	 text-overflow: ellipsis;
}

.top-pick-card {
    opacity: 0.8;
    top:-20px;
    z-index:0;
    overflow:hidden;
    background-color: #041C32;

}


/* add movie card */
.add_movie {
    opacity: .5;
	border-style: dashed;
	color: #04293A;
    /*display: flex;*/
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 30px;
	height: 100%;
	width: 100%;
}

.add_movie:hover, .new-movie-jar-button:hover {
    background-color: #ECB365;
    opacity: 1;
    color: #000;
}

.add_mp_circle{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}

/* COLLAPSIBLE */

.collapsible, .new-movie-jar-button { /* button styling */
  background-color: #041C32;
  color: #778f97;
  cursor: pointer;
  padding: 20px 70px;
  margin: 10px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 3rem;
}


.new-movie-jar-button {
    background-color: #fff;
    border-style: dashed;
    opacity: 0.85;
}


.active, .collapsible:hover{ /* hover color change */
  background-color: #064663;
}


.content {
	 display: flex;
	 margin: 0;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
	 padding: 0;
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode (+) */
  font-size: 3rem;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode (-) */
}

/* star rating form */
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  margin:0;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #041C32;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ECB365;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #041C32;
  text-shadow: 0 0 5px #ECB365;
}


/* other */
.form-group {
    margin: 30px 0;
}

hr {
    margin:30px;
}

.form-check-label{
       padding-left: 2rem;
}

.container.add {
    margin-top: 40px;
    margin-bottom: 20px;
}
.container-fluid {
 background-color: #04293A;
 margin: 0;
}

.form_accent {
    accent-color: #064663;
}