
 .content {
	 display: flex;
	 margin: 0;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
}


 p.overview {
	 font-size: 12px;
	 height: 100px;
	 width: 100%;
	 overflow: hidden;
	 text-overflow: ellipsis;
}
 .heading {
	 width: 100%;
	 font-weight: 900;
	 font-size: 2rem;
	 letter-spacing: 0.1ch;
	 line-height: 2;
	 padding-bottom: 0;
	 margin: 1rem 0 1rem auto;
}

.my-top-header {
    background-color: #001F2F;
    opacity: .9;
    padding: 20px 0 0;
    margin: 0;
}

.big-heading {
    font-size: 13rem;
    color: #6F6A95;
    font-style: bold;
    text-align: center;
    justify-content: center;
    margin:0;
}



 .description {
	 width: 100%;
	 margin-top: 0;
	 margin-left: 1rem;
	 margin-bottom: 3rem;
}

.delete-button {
    margin: 2rem;
}


 .card {
	 background-color: #939F9A;
	 cursor: pointer;
	 width: calc(33% - 3rem);
	 min-width: calc(33% - 3rem);
	 height: 400px;
	 min-height: 400px;
	 perspective: 1000px;
	 margin: 1rem auto;
	 position: relative;
}
 @media screen and (max-width: 800px) {
	 .card {
		 width: calc(50% - 3rem);
	}
}
 @media screen and (max-width: 500px) {
	 .card {
		 width: 100%;
	}
}

.form-check-label{
       padding-left: 2rem;
}


 .front, .back, .top-pick {
	 display: flex;
	 background-position: center;
	 background-size: cover;
	 text-align: center;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 transform-style: preserve-3d;
	 transition: ease-in-out 600ms;
}
 .front, .top-pick, .add_movie {
	 background-size: cover;
	 padding: 0rem;
	 font-size: 1.618rem;
	 font-weight: 600;
	 overflow: hidden;
}
 .front:before {
	 position: absolute;
	 display: block;
	 content: '';
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background-color: #939F9A;
	 opacity: 0.25;
	 z-index: -1;
}

.add_movie {
    opacity: .5;
	z-index: -1;
	border-style: dashed;
	color: #000000;
    display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

.add_movie:hover {
    opacity: 1;
    background-color: #f1f1f1;
}


 .card:hover .front {
	 transform: rotateY(180deg);
}
 .card:nth-child(even):hover .front {
	 transform: rotateY(-180deg);
}
 .back {
	 background: #fff;
	 transform: rotateY(-180deg);
	 padding: 0 1rem;
}
 .card:hover .back {
	 transform: rotateY(0deg);
}
 .card:nth-child(even) .back {
	 transform: rotateY(180deg);
}
 .card:nth-child(even):hover .back {
	 transform: rotateY(0deg);
}


.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}




.card-horizontal img {
    height:100%;
    width:100%;
    overflow:hidden;
}

.card-horizontal .card-body {
    padding:0;
}

.container.add {
    margin-top: 40px;
    margin-bottom: 20px;
}
.container-fluid {
 background-color: #DEF6CA;
 margin: 0;
}

.icon-button {
    color: #77867F;
    margin: 3px;
}

.icon-button:hover {
    color: #001F2F;
}

.card-buttons {
    position: absolute;
    right: 20px;
    top: 20px;
}






.my_navbar {
    background-color: #001F2F;
    margin: 0;
    padding: 10px;
}



.rating_display {
    color: #E4BB23;
}
.review {
    font-style: italic;
}
 .movie_gens {
	 font-size: 11.5px;
}
 .title {
	 font-weight: bold;
	 font-size: 1.1rem;
}

.run_time {
    font-size:.7rem;
}
 .release_date {
	 font-weight: normal;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #001F2F;
  color: #778f97;
  cursor: pointer;
  padding: 20px 70px;
  margin: 10px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 3rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  opacity: 0.9;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 3rem;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}