{% extends 'bootstrap/base.html' %}
{% include "header.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/functions.js')}}"></script>
{% endblock %}


{% block content %}
<div class="background">

<div class="container">


 <div class="input_search_area">

  <h1 class="heading minor_page_heading">Select motion picture(s) to add to "{{watchlist.name}}"</h1>
  <!-- Search Form -->
  <form id="search_form" action="{{ url_for('search_movies', watchlist_id = watchlist.id) }}" method="post">
                    <div class="form-group">
                        <label class="page_text" for="search_entry">Title of movie or TV show</label>
                        <input type="text" class="form-control" name="search_entry" id="search_entry" placeholder="Enter Title" required>
                    </div>

                    <div class="text-right">
                    <button type="submit" id="search_submit" class="btn form_submit_button"
                            onclick='this.innerHTML="<i class=\"spinner-border spinner-border-sm\"></i> Searching";'>
                        Search</button>

                        </div>
  </form>

</div>


    {% if movies %}
    <hr>
    <h2 class="heading minor_page_heading">Movies</h2>
    {% for movie in movies %}
    <p class="page_text">
        {% if movie["id"] in movie_id_list %}
        <a href="" class="btn disabled btn-secondary">✓</a>
        {% elif movie["id"] in all_ids %}
        <a href="{{ url_for('add_existing_mp', mp_id=movie['id'])}}" class="btn">+</a>
        {% else %}
        <a data-toggle="modal" data-target="#vibe_selector_modal" data-mp_id="{{ movie['id'] }}" data-show_movie="movie"
           class="btn">+</a>
        {% endif %}
        {{ movie["title"] }} - {{ movie["release_date"] }}
    </p>
    {% endfor %}
    {% endif %}

    {% if shows %}
    <hr>
  <h2 class="heading minor_page_heading">TV shows</h2>
  {% for show in shows %}
  <p class="page_text">
    {% if show["id"] in movie_id_list %}
        <a href="" class="btn disabled btn-secondary">✓</a>
        {% elif show["id"] in all_ids %}
        <a href="{{ url_for('add_existing_mp', mp_id=show['id']) }}" class="btn">+</a>
        {% else %}
        <a data-toggle="modal" data-target="#vibe_selector_modal" data-mp_id="{{ show['id'] }}" data-show_movie="tv"
           class="btn">+</a>
        {% endif %}
        {{ show["name"] }} - {{ show["first_air_date"] }}
  </p>
  {% endfor %}
{% endif %}

</div>


<!-- Vibe Selector Modal -->
<div id="vibe_selector_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Select Vibe</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form id=vibe_form action="{{ url_for('add_mp') }}" method="post">
                    <!-- invisible to user -->
                    <div class="row" style="margin:0;position:absolute;">
                        <div class="col"><input class="readonly_input form-control invisible" type="text" id="mp_id" name="mp_id" readonly></div>
                        <div class="col"><input class="readonly_input form-control invisible" type="text" id="show_movie" name="show_movie" readonly></div>
                    </div>
                    <!-- -->

                    {% include "vibe_selector_template.html" %}

                    <div class="text-right">
                    <button type="submit" id="save_movie_submit" class="btn btn-lg modal-btn"
                            onclick='this.innerHTML="<i class=\"spinner-border spinner-border-sm\"></i> Updating";'>
                        Save</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
