{% extends 'bootstrap/base.html' %}
{% include "header.html" %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	});


</script>
{% endblock %}

{% block content %}
{% if not movies %}
<!-- Modal -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Movie options</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Select options to include for a movie you'd like to watch. </p>
                <form action="{{ url_for('movie_jar') }}" method="post">
                    <!-- Dropdown: available movie lists -->

                    <div class="form-group">
                        <label for="movie_list_dropdown">Select Watchlist:</label>
                        <select class="form-control" name="movie_list_dropdown" id="movie_list_dropdown">
                            {% for watchlist in watchlists %}
                            <option>{{ watchlist }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <!-- Max runtime (minutes) -->
                    <div>
                        <label for="max_runtime_slider">Max Runtime (mins): </label>
                        <input type="range" name="max_runtime" value="300" min="20" max="300"
                               oninput="this.nextElementSibling.value = this.value" id="max_runtime_slider">
                        <output>120</output>
                    </div>
                    <!-- Emotional Vibe -->
                    <div class="form-group">
                        <label>Emotional Vibe</label>
                        <div class="form-check">
                            <input type="checkbox" name="emotional_vibe" value="Heavy-hearted" checked
                                   id="heavy-hearted_check">
                            <label class="form-check-label" for="heavy-hearted_check">Heavy-hearted</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="emotional_vibe" value="Neutral" checked
                                   id="emotionally_neutral_check">
                            <label class="form-check-label" for="emotionally_neutral_check">Neutral</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="emotional_vibe" value="Lighthearted" checked
                                   id="lighthearted_check">
                            <label class="form-check-label" for="lighthearted_check">Lighthearted</label>
                        </div>
                    </div>
                    <!-- Mental Vibe -->
                    <div class="form-group">
                        <label>Mental Vibe</label>
                        <div class="form-check">
                            <input type="checkbox" name="mental_vibe" value="Thought-provoking" checked
                                   id="thought-provoking_check">
                            <label class="form-check-label" for="thought-provoking_check">Thought-provoking</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="mental_vibe" value="Neutral" checked
                                   id="mentally_neutral_check">
                            <label class="form-check-label" for="mentally_neutral_check">Neutral</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="mental_vibe" value="Brainless" checked id="brainless_check">
                            <label class="form-check-label" for="brainless_check">Brainless</label>
                        </div>
                    </div>
                    <!-- Genres -->

                    <div class="form-group">
                        <label for="genre-multiple-group">Select Genres:</label>
                        <select multiple class="form-control" name="genre_selection" id="genre-multiple-group">
                            {% for genre in genres %}
                            <option selected="selected">{{ genre }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <button type="submit" class="btn btn-primary">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->

{% else %}
<!-- Other content -->
<h1>Top Pick</h1>
<div class="card-group">
    <div class="card" style="z-index: 1;">
        <div class="top-pick top" style="background-image: url({{ movies[0].img_url }});">
        </div>
        <div class="card">
            <div class="top-pick" style="background-image: url({{ movies[0].img_url }});">
            </div>
        </div>
    </div>
</div>

<div class="card text-white bg-dark w-100" style = "top:-20px; z-index:0; overflow:hidden;">
  <div class="card-body" style="padding:2rem;">
      <h1 class="card-title" style="padding:0;">{{ movies[0].title }} ({{movies[0].year }})</h1>
       <div class="rating">
            <h3 class="card-title">{{movies[0].pop_rating }}/10 <i class="fas fa-star star"></i></h3>
           </div>
            <h6 class="card-subtitle mb-2 text-muted">Genres: {{movies[0].genre}}</h6>
           <h6 class="card-subtitle mb-2 text-muted">Mental vibe: {{movies[0].mental_vibe}}</h6>
           <h6 class="card-subtitle mb-2 text-muted">Emotional vibe: {{movies[0].emotional_vibe}}</h6>
    <p class="card-text">{{movies[0].description}}</p>
      <p class="card-text"><small class="text-muted">Runtime: {{movies[0].run_time}} minutes</small></p>

      <div class="card-footer">
    <a class="btn btn-light" href="#" role="button">Where to watch</a> <!-- make work and make height dynamic -->
  </div>

  </div>
</div>


<h1>More options</h1>


{% endif %}
{% endblock %}