{% extends 'bootstrap/base.html' %}
{% include "header.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/functions.js')}}"></script>
{% endblock %}

{% block content %}
<div class="background">


{% if not display %}
<!-- Modal -->
<div id="filter_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Select Filtering Options</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('movie_jar') }}" method="post">
                    <!-- Dropdown: available movie lists -->
                    <div class="form-group">
                        <legend>Select Watchlist:</legend>
                        <select class="form-control" style="padding: 3px;" name="movie_list_dropdown" id="movie_list_dropdown">
                            {% for watchlist in watchlists %}
                            <option>{{ watchlist }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <!-- Max runtime (minutes) -->
                    <div class="form-group">
                        <legend>Max Runtime (mins): </legend>
                        <input class="form_accent" type="range" name="max_runtime" value="{{ave_runtime}}" min="{{min_runtime}}" max="{{max_runtime}}"
                               oninput="this.nextElementSibling.value = this.value" id="max_runtime_slider">
                        <output>{{ave_runtime}}</output>
                    </div>
                    <!-- Emotional Vibe -->
                    <div class="form-group">
                        <legend>Emotional Vibe:</legend>
                        <div class="form-check">
                            <input class="form_accent" type="checkbox" name="emotional_vibe" value="Heavy-hearted" checked
                                   id="heavy-hearted_check">
                            <label class="form-check-label" for="heavy-hearted_check">Heavy-hearted</label>
                        </div>
                        <div class="form-check">
                            <input class="form_accent" type="checkbox" name="emotional_vibe" value="Neutral" checked
                                   id="emotionally_neutral_check">
                            <label class="form-check-label" for="emotionally_neutral_check">Neutral</label>
                        </div>
                        <div class="form-check">
                            <input class="form_accent" type="checkbox" name="emotional_vibe" value="Lighthearted" checked
                                   id="lighthearted_check">
                            <label class="form-check-label" for="lighthearted_check">Lighthearted</label>
                        </div>
                    </div>
                    <!-- Mental Vibe -->
                    <div class="form-group">
                        <legend>Mental Vibe:</legend>
                        <div class="form-check">
                            <input class="form_accent" type="checkbox" name="mental_vibe" value="Thought-provoking" checked
                                   id="thought-provoking_check">
                            <label class="form-check-label" for="thought-provoking_check">Thought-provoking</label>
                        </div>
                        <div class="form-check">
                            <input class="form_accent" type="checkbox" name="mental_vibe" value="Neutral" checked
                                   id="mentally_neutral_check">
                            <label class="form-check-label" for="mentally_neutral_check">Neutral</label>
                        </div>
                        <div class="form-check">
                            <input class="form_accent" type="checkbox" name="mental_vibe" value="Brainless" checked id="brainless_check">
                            <label class="form-check-label" for="brainless_check">Brainless</label>
                        </div>
                    </div>
                    <!-- Genres -->

                    <div class="form-group">
                        <legend>Select Genres:</legend>
                        <select multiple class="form-control" name="genre_selection" id="genre-multiple-group">
                            {% for genre in genres %}
                            <option selected="selected">{{ genre }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="text-right">
                    <button type="submit" class="btn modal-btn">Go!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->
{% else %}
<!-- Other content -->
    {% if not movies %}
    <div class="user_feedback_full">
    <h3 class = "page_text">No movies were found with your search criteria. Please try again.</h3>
</div>
    {% else %}
<h1 class="heading big-heading">Top Pick</h1>
<div class="card-group">
    <div class="card" style="z-index: 1;">
        <div class="top-pick top" style="background-image: url({{ movies[0].img_url }});">
        </div>
        <div class="card">
            <div class="top-pick" style="background-image: url({{ movies[0].img_url }});">
            </div>
        </div>
    </div>
</div>

<div class="card text-white w-100 top-pick-card" style = "">
  <div class="card-body" style="padding:2rem;">
      <h1 class="card-title" style="padding:0; margin-top: 3rem;">{{ movies[0].title }} ({{movies[0].year }})</h1>
       <div class="rating_display">
            <h3 class="card-title" style = "padding: 0 0 1rem 0;">{{movies[0].pop_rating }}/5 <i class="fas fa-star star"></i></h3>
           </div>
            <h4 class="card-subtitle mb-3 text-muted">Genres: {{movies[0].genre}}</h4>
           <h4 class="card-subtitle mb-3 text-muted">Mental vibe: {{movies[0].mental_vibe}}</h4>
           <h4 class="card-subtitle mb-3 text-muted">Emotional vibe: {{movies[0].emotional_vibe}}</h4>
    <h6 class="card-text" style="margin-top: 3rem; margin-bottom: 3rem; font-size: 2rem;">{{movies[0].description}}</h6>
      <p class="card-text text-muted">Runtime: {{movies[0].run_time}} minutes</small></p>
  </div>
</div>

<!-- other options -->
    {% if movies[1:]: %}
<h1 class="heading big-heading">More options</h1>
    {% endif %}
    <div class="container-fluid">
        <div class="row justify-content-center">
    {% for movie in movies[1:] %}
    <!-- one card -->
    <div class="card col-xl-2 col-lg-3 col-md-4 col-sm-12 border-0 m-1" style="background-color: #04293A;">
        <div class="front" style="background-image: url({{ movie.img_url }}); right:0px;">
        </div>
        <div class="back" style="right:0px; border-style:groove; border-width: 2px;">
            <div>
                <div class="title">{{ movie.title }} <br></div>


                {% if movie.my_rating %}
                <div class="rating_display">
                    <label>Your Rating: {{ movie.my_rating }} / 5</label>
                    <i class="fas fa-star star"></i>
                </div>
                {% else %}
                <div class="rating_display">
                    <label>{{ movie.pop_rating }} / 5</label>
                    <i class="fas fa-star star"></i>
                </div>
                {% endif %}


                <p class="genre">{{ movie.emotional_vibe }} emotionally, {{ movie.mental_vibe }} mentally </p>
                <p class="overview"> {{ movie.description }}</p>
                <p class="run_time text-muted">{{ movie.run_time }} minutes</p>

            </div>
        </div>
    </div>
    <!-- end card -->
    {% endfor %}
    </div>
        </div>





{% endif %}
{% endif %}
    </div>
{% endblock %}