{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie to add to watchlist</h1>

  {% for movie in movies %}
  <p>
    {% if movie["id"] not in movie_id_list: %}
    <a href="{{ url_for('add_movie',  movie_id=movie['id'],
                                      list_name=list_name)}}"
                    class="btn btn-primary">+</a>
    {% else: %}
    <a href="" class="btn disabled btn-secondary" >✓</a>
    {% endif %}
        {{ movie["title"] }} - {{ movie["release_date"] }}
  </p>
  {% endfor %}

</div>
{% endblock %}