                 <!-- emotional vibe radio buttons -->
                    <fieldset class="form-group">
                        <div>
                            <legend>Emotional vibe</legend>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="emotional_vibe" id="gridRadios1"
                                           value="Heavy-hearted">
                                    <label class="form-check-label" for="gridRadios1">
                                        Heavy-hearted
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="emotional_vibe" id="gridRadios2"
                                           value="Neutral" checked>
                                    <label class="form-check-label" for="gridRadios2">
                                        Neutral
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="emotional_vibe" id="gridRadios3"
                                           value="Lighthearted">
                                    <label class="form-check-label" for="gridRadios3">
                                        Lighthearted
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- mental vibe radio buttons -->
                    <fieldset class="form-group">
                        <div>
                            <legend>Mental vibe</legend>
                            <div class=>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="mental_vibe" id="mental_radio1"
                                           value="Thought-provoking">
                                    <label class="form-check-label" for="mental_radio1">
                                        Thought-provoking
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="mental_vibe" id="mental_radio2"
                                           value="Neutral" checked>
                                    <label class="form-check-label" for="mental_radio2">
                                        Neutral
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="mental_vibe" id="mental_radio3"
                                           value="Brainless">
                                    <label class="form-check-label" for="mental_radio3">
                                        Brainless
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>