{% extends 'bootstrap/base.html' %}
{% include "header.html" %}


{% block styles %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
    </script>


    <script>
        $('#vibe_form').submit(function(){
            $(this).find(':input[type=submit]').prop('disabled', true);
            });

    </script>
{% endblock %}

{% block content %}
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select vibe</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Choose the emotional and mental vibe of this movie.</p>
                <form id=vibe_form action="{{ url_for('add_movie') }}" method="post">
                    {% include "vibe_selector_template.html" %}
                    <button type="submit" id="save_movie_submit" class="btn btn-primary"
                            onclick='this.innerHTML="<i class=\"spinner-border spinner-border-sm\"></i> Updating";'>
                        Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}